@model System.Web.Mvc.HandleErrorInfo

@{
    ViewBag.Title = "Locked Out";
}

<hgroup>
    <h1 class="text-danger">Tài Khoản Đã Bị Khóa.</h1>
    <h2 class="text-danger">Vui lòng thử lại sau !!!</h2>
</hgroup>
