@using web3.Models;
@model List<ChuDe>
@{
    ViewBag.Title = "DanhMucChuDe";
    Layout = "~/Views/Layout/NguoiDungLayout.cshtml";
}

<h2>DanhMucChuDe</h2>

@foreach (var items in Model)
{
    <a href="@Url.Action("SachTheoChuDe",new {@MaChuDe=items.IDChuDe})" class="button button-submit">@items.TenChuDe</a>
    <br />
}