
@{
    ViewBag.Title = "Index";
    Layout = "~/Views/Shared/_Layout2.cshtml";
}

<h3 class="py-2 border-bottom">Giới thiệu</h3>
<p>Choco Couple - trực thuộc Công ty TNHH Đầu tư và Phát triển MANDO chính thức ra mắt vào năm 2017 với tên gọi Đồ đôi Mando. Ngày 10/07/2020 Đồ đôi Mando chính thức đổi tên thành Choco Couple.</p>
<p>Giúp khơi gợi tình yêu ngọt ngào, lãng mạn và cảm xúc thăng hoa, Choco Couple hướng tới những cặp đôi hạnh phúc và không ngại thể hiện tình yêu trước mọi người. Để tạo dựng hình ảnh tươi mới, đa dạng cho những bộ đồ đôi, Choco tập trung đầu tư và kiểu dáng, chất liệu sản phẩm với mong muốn đem tới những sản phẩm chất lượng và phù hợp với phong cách của nhiều cặp đôi để các bạn có thể tự tin hơn trong việc lựa chọn phong cách riêng cho mình mà vẫn có những set đồ đôi đẹp, ưng ý.</p>

<div class="font-weight-bold py-1">CÁC SẢN PHẨM THỜI TRANG CỦA CHOCO COUPLE</div>

<p>Các mẫu thiết kế của Choco Couple mang nhiều phong cách đa dạng kết hợp với nhiều xu hướng mới của năm tạo nên nét cá tính riêng của từng set đồ, đặc biệt là giúp gắn kết tình cảm của các cặp đôi. Đây cũng là điểm đặc biệt trong các thiết kế của Choco để các Nhà thiết kế thỏa sức sáng tạo trong từng mẫu sản phẩm.</p>
<p>Tại Choco các mẫu thiết kế luôn được chăm chút tỉ mỉ, cẩn thận đến từng chi tiết, từ khâu phác thảo cho đến lựa chọn may mẫu và hoàn thiện. Với đội ngũ chuyên nghiệp và tận tâm, Choco hy vọng sẽ làm hài lòng và nhận được sự tin tưởng từ khách hàng qua từng sản phẩm.</p>
<div class="font-weight-bold py-1">ĐỘI NGŨ CHOCO COUPLE</div>

<p>Đến với Choco, đội ngũ nhân viên luôn tận tâm với khách hàng, giải đáp mọi thắc mắc của khách hàng về sản phẩm để tạo được sự tin tưởng trong lòng mỗi khách hàng. Từ những người sáng lập nên thương hiệu Choco cho đến đội ngũ Marketing, Thiết kế, Photographer, Sales, Chăm sóc khách hàng, nhân viên khối cửa hàng và đội ngũ hậu cần - tất cả đều chung một mục tiêu là đưa tới những sản phẩm chất lượng nhất tới tận tay khách hàng.</p>
