@model List<WebShopOnl.Models.CartItem>
<div class="position-relative cart-buy">
    <button class="cart">
        <a href="/Cart/Index"><i class="fas fa-shopping-cart"></i></a>
    </button>

    <span class="badge badge-dark num-product">@Model.Count</span>

</div>